body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-family: "TO";
  color: white;
  text-shadow:
    0 3px 10px rgba(0, 0, 0, 0.3),
    0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 8em;
  text-align: center;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

h2 {
  font-size: 2em;
}

svg {
  width: 1em;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.4));
}
