body {
  min-width: 600px;
  padding: 60px;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://ac.blooket.com/dashboard/27a2184207d50463f6d57fbefc6b46cb0fabd71a/_next/static/media/ee40bb094c99a29a-s.p.woff2")
    format("woff2");
}
html {
  scroll-behavior: smooth;
}

:root {
  font-family: Nunito;
}

h2 {
  font-family: "TO";
  color: white;
  text-shadow:
    3px 5px 10px rgba(0, 0, 0, 0.2),
    2px 3px 2px rgba(0, 0, 0, 0.2);
  font-size: 2em;
}

.verticalList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.box {
  min-width: 500px;
  max-width: 800px;
  background: var(--blookedex-primary);
  border-radius: 10px;
  padding: 20px;
  border: 6px solid rgba(255, 255, 255, 0.2);
  position: relative;
}
#mainTitleContainer {
  position: relative;
}
#mainTitle,
#mainTitleShadow {
  text-align: center;
  font-family: "TO";
  color: transparent;
  font-size: 5em;
  margin: 0;
}
#mainTitleShadow {
  text-shadow:
    5px 7px 10px rgba(0, 0, 0, 0.2),
    4px 5px 2px rgba(0, 0, 0, 0.2);
  -webkit-text-stroke: 5px rgba(0, 0, 0, 0.5);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#mainTitle {
  position: Absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(-45deg, #f0f, #0ff, #fff, #f0f, #0ff);
  background-size: 800% 800%;
  animation: gradient 14s linear infinite;
  background-clip: text;
}
#mainSubtitle {
  text-align: center;
  font-size: 1.1em;
  color: white; /* Initial color (adjust as needed) */
  mix-blend-mode: difference; /* Key property for inversion */
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#mainSubtitle li {
  display: inline-block;
}
#mainSubtitle li a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

.boxTitle {
  font-family: "TO";
  color: white;
  font-size: 3em;
  text-shadow:
    3px 5px 10px rgba(0, 0, 0, 0.2),
    2px 3px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.box svg {
  width: 1em;
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.3));
}

path {
  fill: currentColor;
}

.themePreviewConfigColumn {
  width: 30px;
  height: 65px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 3;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

.themeDeleteBtn,
.themeConfigBtn {
  width: 30px;
  height: 30px;
  background: red;
  color: white;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.themeConfigBtn {
  background: gray;
}

.themeDeleteBtn svg,
.themeConfigBtn svg {
  width: 20px;
}

.userMadeTheme:hover:not(.themePreviewSelected) > .themePreviewConfigColumn {
  display: flex;
  filter: brightness(1.1);
}

#settingsContainer {
  margin-left: 40px;
  margin-right: 40px;
}

.setting {
  display: flex;
  justify-content: space-between;
}

.setting p,
.box > p {
  font-size: 20px;
  margin-top: 14px;
  margin-bottom: 20px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.switch {
  position: relative;
  display: inline-block;
  width: 71px;
  height: 40px;
  top: 8px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  background-color: #ccc;
  border-radius: 50px;
  box-shadow:
    0 6px 30px rgba(0, 0, 0, 0.2),
    0 3px 10px rgba(0, 0, 0, 0.2);
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  border-radius: 50%;
  left: 6px;
  bottom: 6px;
  border: 1px solid #a4a4df;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(calc(100% - -6px));
}

input:checked + .slider {
  background-color: #08c2d0;
}

.settingsRefreshTip {
  position: absolute;
  top: 23px;
  left: 250px;
  background-color: color-mix(in srgb, var(--blookedex-primary) 80%, black);
  padding: 8px;
  border-radius: 5px;
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
}

.triangle {
  width: 15px;
  height: 15px;
  background: color-mix(in srgb, var(--blookedex-primary) 80%, black);
  clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
}

#userThemeCreate {
  width: 120px;
  height: 100px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(228, 232, 236, 0.5);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  transition: transform 0.3s var(--blookedex-selectBouncy);
  box-shadow:
    inset 0 0 40px -5px white,
    0 5px 10px rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

#userThemeCreate p {
  color: white;
  font-size: 70px;
  font-family: "TO";
  transform: translateY(-8px);
  text-shadow: 0 0 10px rgba(200, 200, 200, 0.8);
  user-select: none;
}

.customThemeMenuInput {
  margin: 30px;
  width: 500px;
  height: 200px;
  font-size: 10px;
}

.adminContainer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: 3em;
}

.adminContainer input {
  font-size: 1em;
  margin-right: 20px;
  font-family: "TO";
}

.adminContainer button {
  font-size: 0.8em;
  background: var(--blookedex-secondary);
  border: 4px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 5px;
  padding-bottom: 8px;
  margin-bottom: -3px;
  transform: translateY(-3px);
  transition: all 0.1s linear;
  color: white;
  font-family: "TO";
  cursor: pointer;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.adminContainer button:hover {
  filter: brightness(1.1);
  padding-bottom: 12px;
  margin-bottom: -7px;
  transform: translateY(-7px);
  box-shadow: inset 0 -7px 0 rgba(0, 0, 0, 0.2);
}

.adminContainer button:active {
  scale: 0.9;
}

.contactLink {
  color: white;
  mix-blend-mode: difference;
  font-size: 1.8em;
  margin-left: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.contactLink svg {
  width: 1.2em;
}

.marketContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.marketPack {
  width: 350px;
  height: 200px;
  background: red;
  background: repeating-linear-gradient(
    -5deg,
    #dbdbdb,
    #dbdbdb 30px,
    #b52a3a 30px,
    #b52a3a 60px
  );
  border-radius: 10px;
  box-shadow: inset 0 0 0 6px rgba(255, 255, 255, 0.2);
  padding: 10px;
  transition: all 0.2s var(--blookedex-selectBouncy);
  position: relative;
  overflow: hidden;
}

.marketPack:hover {
  transform: scale(1.05);
  filter: brightness(1.05);
  box-shadow:
    inset 0 0 0 6px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(0, 0, 0, 0.3);
}

.marketPack:active {
  transform: scale(1);
  filter: brightness(0.95);
}

.marketPack::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(https://ac.blooket.com/dashclassic/assets/BlookCheckers-BykpA7vd.png);
  width: 200%;
  height: 200%;
  top: 50%;
  left: 50%;
  background-size: 400px;
  background-position: -100px -100px;
  opacity: 0.1;
  transform: translate(-50%, -50%) rotate(15deg);
}

.marketPackLabel {
  font-family: "TO";
  color: white;
  font-size: 3em;
  text-shadow:
    0 0 10px rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.2);
}

.marketPackCost {
  margin: 5px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "TO";
  color: white;
  font-size: 1.2em;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: fit-content;
  text-shadow:
    0 0 10px rgba(0, 0, 0, 0.3),
    2px 2px 0 rgba(0, 0, 0, 0.2);
}

.marketPackDesc {
  font-family: "TO";
  color: white;
  font-size: 1.5em;
  margin-top: 10px;
  text-shadow:
    0 0 7px rgba(0, 0, 0, 0.3),
    2px 2px 0 rgba(0, 0, 0, 0.2);
}

.marketPackOwned {
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 5px;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 1.5em;
  color: white;
  text-align: right;
  background: rgba(0, 0, 0, 0.3);
}

.marketPackOwned::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  clip-path: polygon(100% 0%, 100% 100%, 50% 100%, 100% 50%, 50% 0%);
}

.customThemeMenuBtn {
  width: 130px;
  height: 150px;
  background: var(--blookedex-secondary);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: none;
  color: white;
  border: 6px solid rgba(255, 255, 255, 0.2);
  transition:
    scale 0.3s var(--blookedex-selectBouncy),
    filter 0.2s linear;
  cursor: pointer;
}

.customThemeMenuBtn:hover {
  filter: brightness(1.1);
  scale: 1.1;
}

.blookedex-row:has(.customThemeMenuBtn) {
  margin: 80px;
  margin-left: 100px;
  margin-right: 100px;
  gap: 50px;
}

.customThemeMenuBtn svg {
  width: 100%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
}

.customThemeMenuBtnLabel {
  text-align: center;
  font-size: 0.7em;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.customThemeMenu-title {
  margin: 30px;
  margin-bottom: 5px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: "TO";
  font-size: 1.5em;
}

.customThemeMenuOR {
  font-family: "TO";
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
